<!DOCTYPE html>
<html>
	<head>
		<title>My Memo App</title>
		{% load bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
	</head>
</html>

<div class="container">
	{% if memo %}
	<form action="{% url "memos:memo-edit" memo.id %}" method="post">
		{% csrf_token %}
		{% if error_message %}
			<p>{{ error_message }}</p>
		{% endif %}
		{{ form }}
		<input type="submit" value="保存する" class="btn">
	</form>
	<a href="{% url "memos:memo-delete" memo.id %}" class="btn">メモを削除する</a>
	{% else %}
	<form action="{% url "memos:memo-create" %}" method="post">
		{% csrf_token %}
		{% if error_message %}
			<p>{{ error_message }}</p>
		{% endif %}
		{{ form }}
		<input type="submit" value="保存する">
	</form>
	{% endif %}
</div>