<!DOCTYPE html>
<html>
	<head>
		<title>My Memo App</title>
		{% load bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
	</head>
</html>

<div class="container">
	<form action="{% url "memos:memo-delete" memo.id %}" method="post" class="mt-4">
		{% csrf_token %}
		<p class="text-center">メモ「{{ memo.title }}」を削除しますか？</p>
		<div class="text-center">
			<input type="submit" name="delete" value="はい" class="btn btn-primary">
			<input type="submit" name="delete" value="いいえ" class="btn btn-light">
		</div>
	</form>
</div>