<!DOCTYPE html>
<html>
	<head>
		<title>My Memo App</title>
		{% load bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
	</head>
</html>

<div class="container">
	{% if memo %}
	<form action="{% url "memos:memo-edit" memo.id %}" method="post" class="mt-4">
		{% csrf_token %}
		{% if error_message %}
			<p>{{ error_message }}</p>
		{% endif %}
		<div class="mb-3">
			<label class="form-label">Title: </label>
			{{ form.title }}
		</div>
		<div class="mb-3">
			<label class="form-label">Content: </label>
			{{ form.content }}
		</div>
		<div class="mb-3">
			<label class="form-label">Created at: </label>
			{{ form.created_at }}
		</div>
		<div class="d-flex justify-content-between">
			<input type="submit" value="保存する" class="btn btn-primary">
			<a href="{% url "memos:memo-delete" memo.id %}" class="btn btn-light">メモを削除する</a>
		</div>
	</form>
	{% else %}
	<form action="{% url "memos:memo-create" %}" method="post" class="mt-4">
		{% csrf_token %}
		{% if error_message %}
			<p>{{ error_message }}</p>
		{% endif %}
		<div class="mb-3">
			<label class="form-label">Title: </label>
			{{ form.title }}
		</div>
		<div class="mb-3">
			<label class="form-label">Content: </label>
			{{ form.content }}
		</div>
		<div class="mb-3">
			<label class="form-label">Created at: </label>
			{{ form.created_at }}
		</div>
		<input type="submit" value="保存する" class="btn btn-primary">
	</form>
	{% endif %}
</div>